//fonts
$lato-bold : 'Lato-Bold', sans-serif;
$montserrat-bold : 'Montserrat-Bold', sans-serif;
$montserrat-medium : 'Montserrat-Medium', sans-serif;
$nexabold : 'NexaBold', sans-serif;
$opensans-bold : 'OpenSans-Bold', sans-serif;
$opensans-regular : 'OpenSans-Regular', sans-serif;


//colors
$blue : #1a9bdc;
$menu-color : #6c6c6c;
$menu-hover-color : #262626;
$grey : #6a6a6a;
