.advantages-section {
  .container {
    position: relative;
    padding: 110px 20px 0;

    h2 {
      color: #494949;
      text-align: center;
      font-family: $montserrat-bold;
      font-size: 45px;
      margin-bottom: 30px;
    }
    .advantages-p {
      max-width: 880px;
      text-align: center;
      margin: auto;
      padding-bottom: 100px;
      color: #6a6a6a;
    }
  }
}

.advantages-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  background-image: url(/images/nurse-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  &::after {
    content: '';

    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 337px;
  }
}
.advantages-content-items {
  max-width: 360px;
  margin: auto auto 90px;
  z-index: 2;
  h3 {
    color: #6f6f6e;
  }
  p {
    color: #6a6a6a;
  }
}

/*
.advatages-item-1 {
  margin-right: 200px;
}
.advatages-item-2 {
  margin-right: 200px;
}
.advatages-item-3 {
  margin-left: 200px;
}
.advatages-item-4 {
  margin-left: 200px;
}
*/
.advantages-content-items-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.advantages-items-icons {
  width: 74px;
  height: 74px;
  position: relative;
  background-color: #1a9bdc;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin-right: 20px;
}
.medcal-star-icon {
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include sprite($med-star-icon);
  }
}
.pill-icon {
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include sprite($pill-icon);
  }
}
.microscope-icon {
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include sprite($microscope-icon);
  }
}
.atom-icon {
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include sprite($atom-icon);
  }
}
