.statistic-section {
  .container {
    background-color: #0084bd;
    background-image: url(/images/statistics-bg-img.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 152px;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.statistic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  //padding-bottom: 50px;
  color: #fff;
  padding: 0 30px 50px;
  span {
    font-family: $montserrat-medium;
    font-size: 60px;
    display: inline-block;
  }
  p {
    font-family: $montserrat-medium;
    font-size: 25px;
  }
}

.arms-item {
  span {
    &::before {
      content: '';
      display: block;
      @include sprite($arms-icon);
      margin: auto auto 45px;
    }
    &::after {
      content: '';
      display: block;
      width: 84px;
      height: 5px;
      margin: 26px auto 27px;
      background-color: #fff;
    }
  }
}

.heart-item {
  span {
    &::before {
      content: '';
      display: block;
      @include sprite($heart-icon);
      margin: auto auto 45px;
    }
    &::after {
      content: '';
      display: block;
      width: 84px;
      height: 5px;
      margin: 26px auto 27px;
      background-color: #fff;
    }
  }
}

.helicopter-item {
  span {
    &::before {
      content: '';
      display: block;
      @include sprite($helicopter-icon);
      margin: auto auto 45px;
    }
    &::after {
      content: '';
      display: block;
      width: 84px;
      height: 5px;
      margin: 26px auto 27px;
      background-color: #fff;
    }
  }
}

.lundgs-item {
  span {
    &::before {
      content: '';
      display: block;
      @include sprite($lundgs-icon);
      margin: auto auto 45px;
    }
    &::after {
      content: '';
      display: block;
      width: 84px;
      height: 5px;
      margin: 26px auto 27px;
      background-color: #fff;
    }
  }
}
