.statistic-section {
  .container {
    background-image: url(/images/statistics-bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    height: 360px;
    position: relative;
  }
}
