doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title webapp
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/node_modules/jquery/dist/jquery.slim.js')
    //fa
    script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    // endbuild

  body
    header
      .container
        .header-info
          img(src='images/logo.png' class='logo')
          .header-info-contacts
            .info-block
              .info-icon.time
              .info-block-text
                p.subject
                 | WORK TIME: 09:00 - 17:00
                p
                 | Saturday and Sunday - CLOSED

            .info-block
              .info-icon.mail
              .info-block-text
                p.subject
                 | WORK TIME: 09:00 - 17:00
                p
                 | Saturday and Sunday - CLOSED
            .info-block
              .info-icon.call
              .info-block-text
                p.subject
                 | WORK TIME: 09:00 - 17:00
                p
                 | Saturday and Sunday - CLOSED
        .header-menu
          ul.header-menu-list
            li
              a(href='#')
               | Home
            li
              a(href='#')
               | About
            li
              a(href='#')
               | Services
            li
              a(href='#')
               | Gallery
            li
              a(href='#')
               | Blog
            li
              a(href='#')
               | Contact us
          .header-menu-social
            a(href='#' class='facebook-link')
              i(class="fab fa-facebook-f")
            a(href='#' class='google-plus-link')
              i(class="fab fa-google-plus-g")
            a(href='#' class='vk-link')
              i(class="fab fa-vk")
            a(href='#' class='youtube-link')
              i(class="fab fa-youtube")
            a(href='#' class='pinterest-link')
              i(class="fab fa-pinterest-p")

    .medicare-section
      .container
        .medicare-section-content
          h1
           | We have Best Medicare plan options for you
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
          a(href='#' class='btn-learn')
           | Read more

    .services-section
      .container
        .services-section-block
          .service-icon.treatment-service
          h3
           | Best Treatment
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

        .services-section-block
          .service-icon.help-service
          h3
           | Emergency Help
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

        .services-section-block
          .service-icon.stuff-service
          h3
           | Medical Staff
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

        .services-section-block
          .service-icon.doctors-service
          h3
           | Qualified Doctors
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

    .advantages-section
      .container
        h2
         | Why Choose Us ?
        p.advantages-p
         | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        .advantages-content
          .advantages-content-items.advatages-item-1
            .advantages-content-items-header
              .advantages-items-icons.medcal-star-icon
              h3
               | Professional

            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

          .advantages-content-items.advatages-item-2
            .advantages-content-items-header
              .advantages-items-icons.pill-icon
              h3
               | Professional

            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

          .advantages-content-items.advatages-item-3
            .advantages-content-items-header
              .advantages-items-icons.microscope-icon
              h3
               | Professional

            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

          .advantages-content-items.advatages-item-4
            .advantages-content-items-header
              .advantages-items-icons.atom-icon
              h3
               | Professional

            p
             | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.

    .statistic-section
      .container
        .statistic-item.arms-item
          span
           | 1000+
          p
           |  Happy <br> Customers

        .statistic-item.heart-item
          span
           | 2017
          p
           | Top <br> Hospitality

        .statistic-item.helicopter-item
          span
           | 1105
          p
           |  Innovative <br> Approach

        .statistic-item.lundgs-item
          span
           | 500+
          p
           | Lung <br> Replacement

    .work-section
      .container
        .how-we-work-block
          h2
           | How we works
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Єбаторії нам не нада, ни в коем случаї.
          .how-we-work-image-block
            .how-we-work-image-block-item
              img(class='work-photo-1' src='images/work-photo-1.jpg')
              span.work-image-sign
               | Зав. отделением на серёзных щах
              span.work-image-info
               | April 19, 2017   |   Dr. Йосип Ахуєнскій
              p
               | Мастер на всі руки. Придумав замінить тупі тєксти риби нормальной хуйньой, на фото вийобується перед подругой. Гомофоб. Шось поняв.

            .how-we-work-image-block-item
              img(class='work-photo-2' src='images/work-photo-2.jpg')
              span.work-image-sign
               | щас будем справлять зубки
              span.work-image-info
               | April 19, 2017   |   Dr. Просто Сьюзен
              p
               | Спеціалістка по вибиванню дурі з діток. Не доєбаться. Лишнього при ній лучше не базарить, може тріснуть по єбальніку.

          a(href='#' class='btn-learn')
           | LEARN MORE

        aside.creative-block
          h2
           | Our creative
          p
           | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          .creative-menu
            .creative-menu-button
              .work-circle-icon
                i(class="fas fa-caret-right fa-lg")
              h4
               | Лечим от головной боли
            p
             | Все люди равны, каждый индивидуален, не стоит равняться на других, покажи себя. Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .creative-menu-button
              .work-circle-icon
                i(class="fas fa-caret-right fa-lg")
              h4
               | Неизлечимо? Вылечим
            p
             | Ну, це не просто. Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .creative-menu-button
              .work-circle-icon
                i(class="fas fa-caret-right fa-lg")
              h4
               | Трудотерапія
            p
             | Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            .creative-menu-button
              .work-circle-icon
                i(class="fas fa-caret-right fa-lg")
              h4
               | А о чём это мы?
            p
             | Вылечим и душевные раны. Sed ut perspiciatis unde omnis iste natus error s.it voluptatem accusantium doloremque laudantium.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.







      script.
        (function (b, o, i, l, e, r) {
          b.GoogleAnalyticsObject = l;
          b[l] || (b[l] =
            function () {
              (b[l].q = b[l].q || []).push(arguments)
            });
          b[l].l = +new Date;
          e = o.createElement(i);
          r = o.getElementsByTagName(i)[0];
          e.src = 'https://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X');ga('send', 'pageview');

      // build:js scripts/vendor.js
      // bower:js
      // endbower
      // endbuild
      // build:js scripts/plugins.js
      script(src='/bower_components/bootstrap/js/dist/util.js')
      script(src='/bower_components/bootstrap/js/dist/alert.js')
      script(src='/bower_components/bootstrap/js/dist/button.js')
      script(src='/bower_components/bootstrap/js/dist/carousel.js')
      script(src='/bower_components/bootstrap/js/dist/collapse.js')
      script(src='/bower_components/bootstrap/js/dist/dropdown.js')
      script(src='/bower_components/bootstrap/js/dist/modal.js')
      script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
      script(src='/bower_components/bootstrap/js/dist/tab.js')
      script(src='/bower_components/bootstrap/js/dist/tooltip.js')
      script(src='/bower_components/bootstrap/js/dist/popover.js')
      // endbuild
      // build:js scripts/main.js
      script(src='scripts/main.js')
      // endbuild
